<div class="row d-flex align-items-start p-lg-5 m-lg-5 p-5 m-5 px-2 mx-0">
  <div class="col-lg-2 col-md-3 col-4">
    <div
      class="nav flex-column nav-tabs me-3"
      id="v-tabs-tab"
      role="tablist"
      aria-orientation="vertical"
    >
      <button
        class="nav-link active"
        id="v-tabs-newuser-tab"
        data-bs-toggle="tab"
        data-bs-target="#v-tabs-newuser"
        type="button"
        role="tab"
        aria-controls="v-tabs-newuser"
        aria-selected="true"
      >
        کاربر جدید
      </button>
      <button
        class="nav-link"
        id="v-tabs-users-tab"
        data-bs-toggle="tab"
        data-bs-target="#v-tabs-users"
        type="button"
        role="tab"
        aria-controls="v-tabs-users"
        aria-selected="false"
      >
        کاربران
      </button>
    </div>
  </div>
  <div class="col-lg-10 col-md-9 col-8">
    <div class="tab-content w-100 p-5" style="border: 1px solid grey; border-radius: 5px;" id="v-tabs-tabContent">
      <div
        class="tab-pane fade show active"
        id="v-tabs-newuser"
        role="tabpanel"
        aria-labelledby="v-tabs-newuser-tab"
      >
        <app-new-user> </app-new-user>
      </div>
      <div
        class="tab-pane fade"
        id="v-tabs-users"
        role="tabpanel"
        aria-labelledby="v-tabs-users-tab"
      >
        ...
      </div>
    </div>
  </div>
</div>
