<div
  class="tab-pane"
  id="v-tabs-users"
  role="tabpanel"
  aria-labelledby="v-tabs-users-tab"
>
  <p *ngIf="!users.length">لطفا کمی صبر کنید...</p>
  <table *ngIf="users.length" class="table table-striped">
    <thead>
      <tr>
        <th scope="col">آیدی</th>
        <th scope="col">نام</th>
        <th scope="col">نام خانوادگی</th>
        <th scope="col">شماره تلفن</th>
        <th scope="col">ایمیل</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.fname}}</td>
        <td>{{user.lname}}</td>
        <td>{{user.phone}}</td>
        <td>{{user.email}}</td>

      </tr>

    </tbody>
  </table>
</div>
